# Main Flow Services

#Task-1: Understanding Python Data Types

**Description:** This task involves understanding the basic data types in Python such as lists, dictionaries, and sets.

# Lists & List Operations

In [ ]:
#creating a list
vnr=[110,63,149,134,26,370]

#adding an elements to the list
vnr.append(16)

#removing an element from the list
vnr.remove(26)

#modifying an element in the list
vnr[3]=2

#print the update list
print("Updated List:",vnr)

Updated List: [110, 63, 149, 2, 370, 16]

# Dictionary and Dictionary Operations

In [ ]:
#creating dictionary
nitish={'fruit' : 'Mango', 'Quantity': '4', 'Taste':'Good'}

#adding
nitish['Rate']=20

#removing
del nitish['Taste']

#modifying
nitish['fruit']= 'apple'

#print updated Dictionary
print('Updated Dictionary:',nitish)

Updated Dictionary: {'fruit': 'apple', 'Quantity': '4', 'Rate': 20}

# Sets & Set Operations

In [ ]:
#creating a set
raj={'apple', 'mango', 'banana', 'Pineapple', 'orange'}

#adding
raj.add('watermelon')

#removing
raj.remove('Pineapple')

#modifying
raj.discard('orange')
raj.add('papaya')

#print the upadted set
print('Updated Set:',raj)

Updated Set: {'mango', 'banana', 'apple', 'watermelon', 'papaya'}